.btn-billeterie {
  border: 1px solid var(--blanc);
  color: var(--blanc);
  font-size: 100px;
  font-family: "PPMondwest-Regular";
  padding-left: 40px;
  padding-right: 40px;
}

.btn-billeterie:hover {
  background-color: var(--blanc);
  color: var(--bleu);
}

.btn-nav-arrow {
  left: 50%;
  right: 50%;
}

.btn-card3 {
  border: 0.2px solid white;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 40%;
  transition: 0.3s;
}

.btn-card3:hover {
  background-color: var(--blanc);
  color: var(--bleu);
  transition: ease 0.2s;
  cursor: pointer;
}

.btn-dark:hover {
  background-color: var(--blanc);
  color: var(--noir);
  transition: ease 0.2s;
  cursor: pointer;
}

.btn-card3-container {
  display: flex;
  justify-content: end;
}
