.card-blue {
  background-color: var(--bleu);
}

.card-dark {
  background-color: var(--noir);
}

.card-light {
  background-color: var(--blanc);
}

/* MAIN TOP */

main {
  padding-top: 50px;
}

.main-section-1 {
  padding: 55px;
  padding-bottom: 240px;
}

/* 1ST CARD */

.card-1st-container-full {
  display: flex;
  flex-direction: row;
  position: relative;
}

.card-1st-container {
  margin-left: 55px;
  margin-top: 55px;
}

.card-main-full-container {
  position: relative;
}

.card-1st-text {
  padding-top: 20px;
  max-width: 80%;
  padding-left: 40px;
}

.card-vecto-1st-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-vecto-1st {
  padding-left: 150px;
  margin: 30px;
  object-fit: contain;
}

.card-1-img-right {
  max-height: 360px;
  max-width: auto;
}

/* 2ND CARD */

.card-vecto-full ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
}

.vecto-container {
  margin-top: 30px;
  margin: 65px;
}

.card-vecto img {
  transition: transform 0.2s;
}

.card-vecto img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.l-title-2nd-font p {
  padding-top: 25px;
}

.card-container-image {
  position: relative;
}

/* 3RD CARD */

.card-3-container-all {
  position: relative;
}

.card-container-text-bottom {
  border-bottom: solid var(--blanc) 1px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  line-height: 20px;
  transition: 0.2s;
}

.card-container-text-bottom:hover {
  background-color: var(--blanc);
  cursor: pointer;
  transition: ease 0.2s;
  color: var(--bleu);
}

.dark-text {
  color: white;
}

.dark-text:hover {
  color: black;
}

.card-3-img-left {
  padding-left: 30px;
  margin: 20px;
}

.card-3-container {
  padding: 40px;
}

.card-container-text-title {
  display: flex;
  flex-direction: row;
  width: 300px;
  align-items: flex-start;
}

.card-container-text-title a {
  padding-left: 3%;
  padding-top: 1%;
  opacity: 60%;
}

.card-img-3-second {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.card-3-img-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 25px;
}

/* BILLETERIE */

.card-billeterie {
  font-family: "PPMondwest-Regular";
  text-transform: uppercase;
  color: var(--blanc);
  font-size: 170px;
  justify-content: flex-start;
  padding-left: 6%;
}

@media screen and (max-width: 1400px) {
  .card-billeterie {
    font-size: 130px;
  }
}

.card-container-billeterie {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 0;
}

.card-img-last {
  max-width: 7%;
  justify-content: flex-start;
}

/* FOOTER */

.card-logo-container {
  margin: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 1400px) {
  .card-logo-container img {
    width: 70%;
  }
}

.card-container-footer {
  margin: 40px;
  padding-top: 80px;
}

.card-text-box-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 25%;
}

.card-last-container-footer {
  font-family: "PPNeueMachina-InktrapRegular";
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.card-last-container-footer a {
  margin-bottom: 4.2%;
  padding-right: 2%;
  color: grey;
}

.card-footer-confidentialite {
  text-decoration: underline 1px grey;
  cursor: pointer;
}

.card-container-list-footer li {
  cursor: pointer;
}

.card-container-footer a {
  text-decoration: none;
}

.card-logo-underline {
  border-bottom: solid 0.1px gray;
}
