.navigation-full-container {
  z-index: 99999;
  position: fixed;
  cursor: pointer;
  background-color: var(--noir);
  width: 100%;
  font-family: "PPMondwest-Regular";
  text-transform: uppercase;
  border-bottom: solid rgb(33, 33, 33) 0.5px;
}

.navigation-container-content {
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navigation-arrow {
  background-color: var(--bleu);
  padding: 7px;
  padding-left: 7px;
  padding-right: 7px;
}

.navigation-arrow img {
  margin: 5px;
}

.navigation-ancres a {
  padding-left: 60px;
  color: var(--bleu);
}

.navigation-ancres a:hover {
  color: var(--blanc);
}

.navigation-left {
  display: flex;
  justify-content: left;
  padding-right: 10px;
}

.navigation-burger {
  background-color: var(--blanc);
  padding: 15px;
}

.navigation-language {
  padding-left: 20px;
  padding-right: 10px;
  color: var(--blanc);
  display: flex;
  align-items: center;
  font-family: "PPNeueMachina-InktrapRegular";
}

.nav-burger-closed {
  cursor: pointer;
}

.navigation-burger-open {
  list-style: none;
  text-align: center;
}

.navigation-burger-open li {
  font-size: 150px;
  font-family: "PPMondwest-Regular";
  text-transform: uppercase;
  line-height: 130px;
  animation: fadeIn 5s;
}

.navigation-open-house img {
  padding-bottom: 20px;
  z-index: -1000;
}

.navigation-burger-open ul {
}
