/* couleurs */

:root {
  --blanc: #f2f2f2;
  --bleu: #150df7;
  --noir: #0f0f0f;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.img {
  width: 30px;
  height: 30px;
}

.blank-page {
  display: none;
  position: fixed;
  top: 25px;
  left: 0;
  width: 100%;
  height: 0;
  background-color: white;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blank-page-text {
  font-size: 24px;
  text-align: center;
  color: #0f0f0f;
}

@font-face {
  font-family: "PPMondwest-Regular";
  src: url(../fonts/PPMondwest-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "PPNeueMachina-InktrapRegular";
  src: url(../fonts/PPNeueMachina-InktrapRegular.woff2) format("woff2");
}

@font-face {
  font-family: "PPNeueMachina-PlainLightItalic";
  src: url(../fonts/PPNeueMachina-PlainLightItalic.woff2) format("woff2");
}

.layout-text-light {
  color: white;
}

.layout-nav-font {
  font-family: "PPMondwest-Regular";
  text-transform: uppercase;
  font-size: 18px;
}

.layout-title-font {
  font-family: "PPNeueMachina-PlainLightItalic";
  text-transform: uppercase;
  font-size: 35px;
}

.layout-title-2nd-font {
  font-family: "PPNeueMachina-InktrapRegular";
}

p {
  font-family: "PPNeueMachina-InktrapRegular";
}

/* .row > .col,
  margin-top: 16px;
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}
 */
